<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery 📸</title>
    <link rel="stylesheet" href="../css/style.css">
    <script defer src="../js/gallery.js"></script>
</head>
<body>
    <div class="container">
        <h1>📸 Our Beautiful Memories 📸</h1>
        <div class="gallery">
            <img src="../public/WhatsApp Image 2025-03-05 at 8.41.53 PM.jpeg">
            <img src="../public/WhatsApp Image 2025-03-05 at 8.41.56 PM.jpeg">
            <img src="../public/WhatsApp Image 2025-03-05 at 8.41.57 PM (1).jpeg">
            <img src="../public/WhatsApp Image 2025-03-05 at 8.41.57 PM.jpeg">
        </div>
    </div>
</body>
</html>
