<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love Letter 💌</title>
    <link rel="stylesheet" href="../css/style.css">
    
    
    <script defer src="../js/love-letter.js">
</script>


</head>
<body>
    <div class="container">
        <h1>💌 My Love Letter to You 💌</h1>
        <p class="love-text">Dear love, <br> You are my everything... (Write your personal message here!)</p>
        <a href="../views/magic-mirror.html" class="btn">Next Magic 🔮</a>
    </div>
</body>
</html>
